.jumbotron {
    /*background-image:url('images/banner-904884_640.jpg');*/
    background-image:url('images/board-911635_640.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    top:100px;
}

.jumbotron h1 {
    color: #fff;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: #fff;
}

.patents {
    background-color: #f7f7f7;
}

.patents h3 {
    font-family: 'Shift', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.patents a {
    color: #00b0ff;
}

.footer {
    text-align: center;
    background-color: darkgrey;
    padding: 20px; 
}